# ===============================
# Python
# ===============================
api/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Node / Next.js
# ===============================
web/node_modules/
web/.next/
web/out/
web/dist/

# ===============================
# Model (DO NOT PUSH)
# ===============================
*.h5
*.keras

# ===============================
# Dataset (Optional - keep local)
# ===============================
data/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db